body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

.plain {
  font-family: Arial, Helvetica, sans-serif;
}
.padpage {
  padding-top: 10px;
}
.block {
  display: inline-block;
}
.small {
  font-size: small;
  color: darkgrey;
}

.quadrant-1 {
  background-color: lightcyan;
}

.quadrant-2 {
  background-color: lavender;
}

.quadrant-3 {
  background-color: lightyellow;
}

.quadrant-4 {
  background-color: lightblue;
}
